*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    width: 100%;
    height: 75px;
    background-color: #ffff;
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    z-index: 1;
    border-bottom: 3px solid #E5E8E8;
}

nav .logo {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

nav .logo p {
    float: left;
    color: red;
       
}

nav ul {
    float: right;

}

nav ul li {
    display: inline-block;
    list-style: none;
}

nav ul li a {
    color: red;
    text-decoration: none;
    font-size: 18px;
    padding: 0px 20px;
}

nav ul li p {
    margin-left: 60px;
    margin-right: 0px;
}