.flex-container {
    margin-top: 40px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    padding: auto;
    display: flex;
    outline: solid 1px blue;
}

.flex-item {
    width: 100%;
    padding: 10px;
    outline: solid 1px red;
}

img {
    width: 90%;
    height: 300px;
    border-radius: 8px;
}

input {
    margin: 20px 0 0 10px;
    width: 100%;
    border-radius: 26px;
    border: 1px solid #ada9a9;
    padding: 1% 6%;
    background-image: url(https://www.pngarea.com/pngm/418/6850347_send-message-icon-white-clipart-computer-icons-clip.png);
    background-size: contain;
    background-repeat: no-repeat;
    outline: 0;
    background-position: 12px;
    background-size: 16px;
}

span {
    text-decoration: underline;
    color: blue;
}

.flex-item ul {
    margin-top: 100px;
    font-size: 12px;
    list-style: none;
}

.flex-item h3, p, .stats {
    font-style: italic;
}

.flex-item h3 {
    margin-bottom: 20px;
}

.flex-item3, .flex-item1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-item .button {
    border-radius: 100px;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    width: 150px;
    font-weight: bold;
    cursor: pointer;
}

.primary {
    background-color: red;
    border: none;
    color: #fff;
}

.secondary {
    border: 0.5px solid;
    border-color: red;
    background-color: #fff;
    color: red;
}