.flex-container {
    margin-top: 40px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    padding: auto;
    display: flex;
    
}

.flex-item {
    width: 100%;
    padding: 10px;
    
}

img {
    width: 300px;
    height: 300px;
    border-radius: 8px;
}

span {
    text-decoration: underline;
    color: blue;
}

.flex-item ul {
    margin-top: 100px;
    font-size: 12px;
    list-style: none;
}

.flex-item h3, p, .stats {
    font-style: italic;
}

.flex-item h3 {
    margin-bottom: 20px;
}

.flex-item3, .flex-item1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.flex-item .button {
    border-radius: 100px;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    width: 150px;
    font-weight: bold;
    cursor: pointer;
}

.primary {
    background-color: red;
    border: none;
    color: #fff;
}

.secondary {
    border: 0.5px solid;
    border-color: red;
    background-color: #fff;
    color: red;
}