.section-title {
    margin: 20px 10px 10px 50px;
    font-style: italic;
    color: #707B7C;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    margin-bottom: 70px;
}

.wrapper .text {
    position: absolute;
    color: white;
    bottom: 8px;
    left: 16px;
}

.foodcard {
    position: unset;
    height: 40vh;
    width: 100%;
    justify-content: flex-center;
    cursor: pointer
}

.thumb {
    position: absolute;
    width: auto;
}

.wrapper img {
    width: auto;
}

img {
    height: 39vh;
}

.hero {
    position: absolute;
    opacity: 0;
    z-index: 10;
}

.foodcard:hover .hero {
    opacity: 1;
    transform: scale(1.5, 1.1);
    transition: transform 0.5s;
}

.foodcard:hover .thumb {
    opacity: 0;
    transition: opacity 1s;
}

.wrapper .stats {
    font-size: 8px;
    color: #fff;
    text-decoration: none;
    margin-right: 30px;
}

.icon {
    width: 10px;
    height: 15px;
    margin-right: 5px;
    margin-top: 10px;
}

.wrapper button {
    background-color: red;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 7px;
    margin: 15px 0 5px 10px;
    cursor: pointer;
}
