.flex-container1 {
    display: flex;
    justify-content: flex-start;
    width: fit-content;
    margin: auto;
    text-align: center;
    flex-wrap: wrap;
}

.flex-container1 .flex-item-one {
    margin: 5px;
    width: 400px;
}

.flex-container1 .flex-item-one:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 0.3s;
}

